/* font-family: 'Barrio', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Vast Shadow', cursive; */

.mainpagejumbo {
   padding-top: 12px;
   padding-bottom: 12px;;
}

#resturantTitle{
    font-family: 'Vast Shadow', cursive;
    text-align: center;
    font-size: 62px;
    letter-spacing: 12px;

}
body {
    background-color: #C6AC8F;

}